@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  /* Body styles */
  --clr-body-bg: hsl(212 45% 89%);

  /* QR code component styles */
  --qr-clr-bg: hsl(0 0% 100%);
  --qr-clr-text-body: hsl(220 15% 55%);
  --qr-clr-text-header: hsl(218 44% 22%);

  --qr-ff: 'Outfit';
  --qr-fw-400: 400;
  --qr-fw-700: 700;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: .5rem;

  background-color: var(--clr-body-bg);
}

.qr,
.qr * {
  /* Putting this here as qr is a component, and
     this reset may not be present on broader page */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qr {
  max-width: 20.125rem;
  padding-inline: 1.0625rem;
  padding-block: 1.0625rem 2.5rem;
  border-radius: 1.375rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--qr-ff), Helvetica, Arial, sans-serif;
  background-color: var(--qr-clr-bg);
  box-shadow: 0 0px 40px hsl(0 0% 20% / .2);

  user-select: none;
}


.qr__qr-code {
  aspect-ratio: 1 / 1;
  border-radius: .625rem;
  overflow: hidden;
}

.qr__qr-code>img {
  width: 100%;
}

.qr__header,
.qr__body {
  padding-inline: .625rem;

  text-align: center;
  line-height: 1.25em;
}

.qr__header {
  padding-top: .4em;

  font-size: 1.375rem;
  /* 22px */
  font-weight: var(--qr-fw-700);
  letter-spacing: 0.0033em;
  color: var(--qr-clr-text-header);
}

.qr__body {
  font-size: .9375rem;
  /* 15px */
  font-weight: var(--qr-fw-400);
  letter-spacing: .01em;
  color: var(--qr-clr-text-body);
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  padding: 1.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
